.dev.vars
__pycache__/
*.pyc
out/
build/
apk_temp/
backup/
*_decompile/
*_patched.jar
framework_decompile/
services_decompile/
miui-services_decompile/
miui-framework_decompile/
bin/ddevice/androidver.txt
bin/ddevice/android_version.txt
bin/ddevice/base_rom_code.txt
bin/ddevice/codename.txt
bin/ddevice/device_code.txt
bin/ddevice/device_f.txt
bin/ddevice/device_name.txt
bin/ddevice/device_type.txt
bin/ddevice/drive_link.txt
bin/ddevice/fstype.txt
bin/ddevice/name_devices.txt
bin/ddevice/os_code.txt
bin/ddevice/os_type.txt
bin/ddevice/output_zip.txt
bin/ddevice/platform.txt
bin/ddevice/region.txt
bin/ddevice/rom_os.txt
bin/ddevice/rom_version.txt
bin/ddevice/romtype.txt
bin/ddevice/sdkLevel.txt
bin/ddevice/superSize.txt
bin/ddevice/super_list.txt
bin/ddevice/ximi_type.txt
